---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { formatPostDate, getPosts } from "../../lib/posts";

export async function getStaticPaths() {
  const posts = await getPosts();

  return posts.map((post) => ({
    params: { title: post.slug },
    props: { post }
  }));
}

const { post } = Astro.props;
---

<BaseLayout title={post.title} canonicalPath={`/blog/${post.slug}`}>
  <article class="post post-page" data-animate="fade-in">
    <header class="post-header">
      <h1>{post.title}</h1>
      <p class="meta">{formatPostDate(post.date)}</p>
    </header>

    <div class="post-content" set:html={post.html}></div>
  </article>
</BaseLayout>
