---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { site } from "../site";
import "../styles/styles.sass";
import "highlight.js/styles/github.css";

const { title, description = site.description, canonicalPath = "/" } = Astro.props;
const pageTitle = title ? `${title} | ${site.title}` : site.title;
const canonicalUrl = new URL(canonicalPath, site.url).toString();
const currentPath = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>{pageTitle}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalUrl} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Space+Grotesk:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <script is:inline define:vars={{ gaTrackingId: site.googleAnalyticsTrackingId }}>
      if (window.location.hostname !== "localhost") {
        var _gaq = window._gaq || [];
        _gaq.push(["_setAccount", gaTrackingId]);
        _gaq.push(["_trackPageview"]);

        (function () {
          var ga = document.createElement("script");
          ga.type = "text/javascript";
          ga.async = true;
          ga.src =
            ("https:" === document.location.protocol ? "https://ssl" : "http://www") +
            ".google-analytics.com/ga.js";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(ga, s);
        })();
      }
    </script>
  </head>
  <body>
    <div class="page-shell">
      <div class="ambient-glow"></div>
      <div class="container">
        <Header currentPath={currentPath} />
        <main class="content">
          <slot />
        </main>
        <Footer />
      </div>
    </div>
  </body>
</html>
